
*.log
GameJam_Sept2023/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
GameJam_Sept2023/Saved/Config/CrashReportClient/UECC-Windows-18BE64434479883C3FEF019BEF3FA3CF/CrashReportClient.ini
GameJam_Sept2023/Intermediate/ReimportCache/3688439234.bin
GameJam_Sept2023/Intermediate/CachedAssetRegistry.bin
